# Nordic SDK
nRF5_SDK_12.3.0/components
nRF5_SDK_12.3.0/documentation
nRF5_SDK_12.3.0/examples
nRF5_SDK_12.3.0/external
nRF5_SDK_12.3.0/svd
nRF5_SDK_12.3.0/license.txt
nRF5_SDK_12.3.0/nRF5x_MDK_8_11_1_IAR.msi
nRF5_SDK_12.3.0/nRF5x_MDK_8_11_1_Keil4.msi

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
